

<div id="<%= dom_id post %>" class="card text-center" style="width: 18rem; margin:0 auto">
<img src="https://kinsta.com/wp-content/uploads/2022/08/wordpress-wiki.jpg" class="card-img-top" alt="...">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= post.kind %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= post.author %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= post.category && post.category.title %>
  </p>

</div>

